@font-face {
    font-family: 'shabnam'; /*a name to be used later*/
    src: url('/resources/fonts/shabnam/Shabnam.ttf') format('truetype'), /*URL to font*/
         url('/resources/fonts/shabnam/Shabnam.woff') format('woff'),
         url('/resources/fonts/shabnam/Shabnam.woff2') format('woff2'),
         url('/resources/fonts/shabnam/Shabnam.eot') format('embedded');
}

@font-face {
    font-family: 'iranSans';
    src: url('/resources/fonts/IranSans/iransans.ttf') format('truetype'),
         url('/resources/fonts/IranSans/iransans.woff') format('woff'),
         url('/resources/fonts/IranSans/iransans.eot') format('embedded');
}

@font-face {
    font-family: 'iranYekan';
    src: url('/resources/fonts/iranyekan/iranyekan.ttf');
}

* {
    -fx-secondary : #A5f0c5 ;
    -fx-primary : #184D47 ;
    /*-fx-primary : #2A2E37;
      -fx-secondary : #FFFF8D;*/
    -fx-tertiary : #d6c6c3;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
    -fx-font-weight: bold;
    -fx-alignment: center-right;
    -fx-direction: rtl !important;
    -fx-font-family: "shabnam", "iranSans", "iranYakan", "Arial";
}

.root{
    -fx-background-color: -fx-primary;
}

.glyph-icon
{
    -fx-fill: -fx-primarytext;
}
.titledPane{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}
.button{
    -fx-text-fill: -fx-secondary;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
    -fx-border-weight: 3px;
    -fx-cursor: hand;
    -fx-alignment: center !important;
}
.button:hover, .button:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.buttonedited{
    -fx-text-fill: #FF8C00;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
    -fx-border-weight: 3px;
    -fx-cursor: hand;
    -fx-alignment: center !important;
}

.buttonedited:hover, .buttonedited:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

/*Login Screen Specific*/


.wrong-credentials
{
    -fx-unfocus-color: #ef5350;
    -fx-focus-color: #ef5350;
}
.wrong-credentials-f
{
    -fx-border-color: #ef5350;
}


/*Main Screen CSS Styling starts here*/

/*TablPane styling*/
.tab{
    -fx-background-color: -fx-primary;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

.tab-label{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 10pt; 
}
.tab-label-login{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 12pt;
}
.tab-label-main{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 16pt;
}
.tab-label-main-edited{
    -fx-text-fill: -fx-tertiary;
    -fx-font-size: 16pt;
    -fx-alignment: center;
}
.tab-label-mainedited{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 20pt;
    -fx-font-weight: bold;

}



.tab-main{
    -fx-pref-height : 60;
    -fx-max-height : 60;
}

.settings-tab{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-padding: 5px 20px 5px 20px;
}

.settings-tab:selected{
    -fx-background-color: -fx-secondary;
}

.settings-tab:selected .tab-label{
    -fx-text-fill: -fx-primary;
}

.settings-tab .tab-header-background{
    -fx-background-color: derive(-fx-primary, -50%);
}

/*Menu bar Styling*/
.menu-bar{
    -fx-font-size: 14;
    -fx-base : -fx-primary;
    -fx-background-color: -fx-primary;
    -fx-direction: rtl !important;
}

.context-menu {
    -fx-background-color:  derive(-fx-primary, 20%);
    -fx-font-size: 14;
    -fx-min-width: 150px;
    -fx-direction: rtl !important;
}
.secondryColor{
    -fx-color: -fx-secondary;
}
.hand{
    -fx-cursor: hand;
}
/*Toolbar buttons*/
.toolbar-button
{
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}
.toolbar-button:hover
{
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon, .toolbar-button:hover .glyph-icon
{
    -fx-fill: -fx-primary;
}

/*Text styling*/
.main-text
{
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container{
    -fx-background-color: derive(-fx-primary, 10%);
}

/*Dialog styling*/
.dialog-button{
    -fx-border-color: -fx-color-1;
    -fx-text-fill: white;
    -fx-border-radius: 1px;
    -fx-background-radius: 3px;
}

.dialog-button:hover{
    -fx-background-color: -fx-color-1;
    -fx-border-color: derive(-fx-color-1, -20%);
    -fx-text-fill: white;
}
/*Chart Styling*/
.data0.chart-pie{
    -fx-pie-color: -fx-secondary;
    -fx-border-color: derive(-fx-secondary, -30%);
}
.data1.chart-pie{
    -fx-pie-color: derive(-fx-primary, 30%);
    -fx-border-color: derive(-fx-primary, 30%);
}
.chart-pie-label
{
    -fx-fill : derive(-fx-secondary, -5%);
}

/*About window*/
.about-text{
    -fx-fill: -fx-secondary;
}

.about-button{
    -fx-border-color: transparent;
}

/*Custom window background*/
.custom-pane{
    -fx-background-color: derive(-fx-primary, 5%);
}

/*TableView Default*/
.table-view{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-font-size: 16px; 
    -fx-border-color: derive(-fx-secondary, -60%);
}
.table-view:focused{
    -fx-background-color: derive(-fx-primary, 20%);
}
.table-row-cell {
    -fx-cell-size: 40px;
}
.table-view .column-header-background{
    -fx-background-color: -fx-primary;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: white;
}
.table-row-cell:focused, .table-cell:focused{
    -fx-text-fill: -fx-primary;
}
.table-row-cell{
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-column{
    -fx-alignment: CENTER;  
}
.table-row-cell:even{
    -fx-background-color: derive(-fx-primary, 10%);
}
.table-row-cell:selected {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-background-insets: 0;
}
.table-row-cell:selected .table-cell{
    -fx-text-fill: -fx-primary;
}
.placeholder .label{
    -fx-text-fill: white;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: white;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: derive(-fx-primary, 60%);
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}
.table-view .filler{
    -fx-fill: -fx-primary;
    -fx-background-color: -fx-primary;
}
.table-context
{-fx-base: -fx-primary;}
/*Dashboard label*/
.not-available 
{
    -fx-background-radius: 5px;
    -fx-fill: derive(blue, 80%);
    -fx-cursor: hand;
}

/*Checkbox*/

.checkbox-main{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 10pt;
}

/*Progrss bar*/

.progress-bar-main .track{
    -fx-background-color: -fx-primary;
}
.progress-bar-main .bar{
    -fx-background-color: -fx-secondary;
    -fx-padding: 5px;
}

.common-label{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 12pt;
}

/*Alert Dialog*/

.custom-alert{
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
}
.custom-alert > *.button-bar > *.container{
    -fx-background-color: -fx-primary;
}
.custom-alert > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.custom-alert:header *.header-panel{
    -fx-background-color: -fx-blue;
}
.custom-alert:header  .header-panel .label {
    -fx-font-style: normal;
    -fx-text-fill: white;
}
.custom-alert:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: -fx-primary;
}

/* Context menu */

.colored-context-menu .menu-item:focused {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: black;
}

.colored-context-menu .menu-item:focused .label {
    -fx-text-fill: black;
}

.text_box_login{
    -fx-border-color: -fx-secondary;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-color: -fx-primary;
    -fx-text-align: right;
    -fx-direction: rtl;
    -fx-alignment: center-right;
    -fx-text-fill:white;
}


.lineColor{
    -fx-background-color: -fx-secondary;
    -fx-stroke: -fx-secondary;
    -fx-stroke-width: 1px;
}

.secondaryColor
{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 23px;
    -fx-padding: 10px;
}
.secondaryColoredited
{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 15px;
}
.secondary_color_edit
{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 15px;
}

.secondaryColoreditede
{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 13px;
}
.secondaryColorissue
{
    -fx-text-fill: white;
    -fx-font-size: 18px;
}
.secondaryColormain
{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
/* table view and Columns*/
.table-view .column-header-background{
    -fx-background-color: -fx-primary;
    -fx-alignment: center-left !important;
}
.table {
  -fx-alignment: CENTER;
}
.choice-box .label{
    -fx-text-fill: -fx-secondary;
    -fx-padding: 0 20px 0 0;
}
.choice-box .menu-item {
    -fx-cursor: hand;
}
.choice-box .menu-item:hover {
    -fx-background-color: -fx-secondary;
}
.choice-box .menu-item:hover > .label {
    -fx-text-fill: black;
}
.choice-box .menu-item:focused {
    -fx-background-color: -fx-secondary;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}
.choice-box .menu-item > .label{
    -fx-text-fill: white;
    -fx-min-width: 520px;
    -fx-pref-width: 520px;
    -fx-cursor: hand;
}
.choice-box-edited {
    -fx-border-color: -fx-secondary;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-color: -fx-primary;
    -fx-text-align: right;
    -fx-direction: rtl;
    -fx-alignment: center-right;
}
.choice-box-edited .menu-item > .label{
    -fx-text-fill: white;
    -fx-min-width: 115px;
    -fx-pref-width: 115px;
    -fx-cursor: hand;
}
.table-view .scroll-bar:horizontal{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.table_admin .table-row-cell:selected .table-cell{
    -fx-text-fill: white !important;
}
.table_admin .table-row-cell .table-cell{
    -fx-pref-width: 120px !important;
}
.table_admin_edited .table-row-cell:selected .table-cell{
    -fx-text-fill: -fx-primary !important;
}
.date-picker .arrow-button {
	-fx-background-color: -fx-primary;
	-fx-background-radius: 0;
	-fx-border-color: -fx-secondary;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary;
	-fx-cursor: hand;
}
.date-picker .arrow-button .arrow {/*date-picker icon styler*/
	-fx-background-color: -fx-secondary;
	-fx-border-color: -fx-primary;
}
.date-picker .arrow-button:hover .arrow {/*date-picker icon styler*/
	-fx-background-color: -fx-secondary;
	-fx-border-color: -fx-primary;
}
.date-picker .cell {/*popup date picker styler*/
	-fx-background-color: -fx-tertiary;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-primary;
}
.date-picker .cell:focused {/*Selected cell styler*/
	-fx-background-color: -fx-secondary;
}
.date-picker .selected {/*Changing page styler*/
	-fx-background-color: -fx-secondary;
	-fx-text-fill: -fx-primary;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary;
	-fx-text-fill: -fx-secondary;
}
.date-picker .background {/*Background styler*/
    -fx-background-color: -fx-primary;
}
.date-picker .text-field {/*Text field styler*/
    -fx-control-inner-background: -fx-primary;
    -fx-text-fill: white;
    -fx-border-color: -fx-secondary;
}

.date-picker-popup  {
	-fx-border-color: -fx-primary;
}
.date-picker-popup .month-year-pane {/*Bar Styler*/
	-fx-background-color: -fx-primary;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: -fx-secondary;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: -fx-primary;
}

